body{
    background-image: url("grid.png");
    height:750px;

}

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 

}
.bgimg-1 {
  background-image: url("images/finding-romance.jpg");
   height: 100%;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
.date-header-base{
    width:100%;
    height:90px;
    position:absolute;
    top:0;
    left:0;
    color:white;
    z-index:7;
    font-family:verdana;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.date-header{
    width:100%;
    height:90px;
    position:absolute;
    background:purple;
    top:0;
    left:0;
    color:white;
    z-index:7;
    font-family:verdana;

}
#img1{
    left:178px;
    height:50px;
    width:100px;
    top:25px;
}
#form1{
    left:750px;
    height:60px;
    width:180px;
    top:20px;
    font-family:verdana;
    font-size:12px;
}
#form2{
    left:900px;
    height:60px;
    width:250px;
    top:20px;
    font-family:verdana;
    font-size:12px;
}
.submit1{
    left:1030px;
    top:32px;
    background:grey;
    color:white;
    position:relative;
    z-index:20;
    height:20px;
    width:50px;
    cursor:pointer;

}
.submit2{
    left:1050px;
    top:32px;
    background:grey;
    color:white;
    position:relative;
    z-index:20;
    height:20px;
    width:50px;
    cursor:pointer;

}
.date-body{
    position:absolute;
    left:0px;
    top:90px;
    width:100%;
    height:645px;


}
#intro1{
    left:178px;
    top:20px;
    font-family:verdana;
    font-size:20px;
    color:#142170;
    height:75px;
    width:550px;
}
#intro2{
    left:750px;
    top:20px;
    font-family:verdana;
    font-size:30px;
    color:#000;
    font-weight:bold;
    height:75px;
    width:500px;
}
#img2{
    top:130px;
    left:178px;
    width:537px;
    height:195px;
}
#intro3{
    left:750px;
    top:70px;
    font-family:verdana;
    font-size:18px;
    color:#000;
    height:50px;
    width:300px;
}
#form3{
    top:120px;
    left:750px;
    font-family:verdana;
    font-size:20px;
    color:#142170;
    width:450px;
    height:495px;

}
#namebox{
    width:200px;
    height:25px;
    border-radius:5px 5px 5px 5px;
    background:white;
    padding:10px;
    font-size:18px;
    margin-top:8px;
    border-width: 1px;
    border-style:solid;
    border-color: gray;
}
#mailbox{
    width:408px;
    height:25px;
    border-radius:5px 5px 5px 5px;
    background:white;
    padding:10px;
    font-size:18px;
    margin-top:8px;
    border-width: 1px;
    border-style:solid;
    border-color: gray;
}
#r-b{
    font-size:12px;
    height:15px;
    width:15px;
}
.button2{
    width:200px;
    height:35px;
    left:750px;
    top:625px;
    background:purple;
    font-family:verdana;
    font-size:16px;
    color:white;
    border-radius:5px 5px 5px 5px;
    border-width: 1px;
    border-style:solid;
    border-color: gray;
    cursor:pointer;
    outline:none;

}
#intro4{
    font-family:verdana;
    font-size:12px;
    color:gray;

}

.date-body-footer{
    width:100%;
    position:absolute;
    left:0px;
    height:80px;
    background:white;
    top:700px;

}
#date-body-footer-base{
    width:900px;
    top:15px;
    left:200px;
    color:black;
    height:60px;
}